@import '_buttons_extend.less';
@import '_variables_extend.less';
@import '_equilimed.less';
// @navigation__background: @secondary__color__light;
// @navigation__background: green;

button {
    height: 60px;
}

.copyright {
    background-color: @color__button-green-normal;
}

.custom {
    float: left;
}

.not-logged-in {
    display: none;
}




//
//  Buttons
//  ---------------------------------------------

@button__font-weight: @font-weight__semibold;

//  Default = secondary button
@button__color: @color-white;
@button__background:  @color__button-green-normal;
@button__border: 1px solid @button__background;
@button__hover__color: @button__color;
@button__hover__background: darken(@button__background, 10%);
@button__active__background: @color-gray-darken1;

//  Primary button
@button-primary__hover__color: @color-white;
@button-primary__background: @color__button-pink-normal;
@button-primary__border: 1px solid @button-primary__background;
@button-primary__active__background: @link__hover__color;
@button-primary__hover__background: darken(@button-primary__background, 10%);
@button-primary__active__border: 1px solid @button-primary__background;
@button-primary__hover__border: 1px solid @button-primary__background;
@button-primary__active__color: @color-white;

//  Button with icon
@button-icon__line-height: @icon-font__line-height;


@_icon-font-color: #fff;
// @color-gray46:

#button-disabled {
    border: 1px solid @button-disabled-color;
    background-color: @button-disabled-color;
    opacity: 1;
}

// Wrap for desctop screens
.logo {
    width: 300px;
}

#input-text (@width) {
    height: 60px;
    width: @width;
    border-radius: @button__border-radius;
    padding: 0 120px 0 20px;
}

.block-search {
    float: left;
    width: unset;

    .input-text {
        #input-text(552px);
    }

    .action.search {
        right: 0;
        width: 119px;
        color: #fff;
        box-shadow: none;

        strong {
            line-height: 32px;
        }
        &[disabled] {
            #button-disabled;
        }
    }
}

.header.content {
    // display: flex;
    // justify-content: space-between;
    // background-color: green;

    .minicart-wrapper {
        // align-self: end;
    }
}

.newsletter input[type="email"] {
    #input-text(575px);
}

// END Wrap for desctop screens