@import '_buttons_extend.less';
@import '_variables_extend.less';
// @navigation__background: @secondary__color__light;
// @navigation__background: green;

.copyright {
    background-color: @color__button-green-normal;
}

.custom {
    float: left;
}

@button__border-radius: 40px;
@button-primary__border-radius: 40px;


//
//  Buttons
//  ---------------------------------------------

@button__font-weight: @font-weight__semibold;

//  Default = secondary button
@button__color: @color-white;
@button__background:  @color__button-green-normal;
@button__border: 1px solid @button__background;
@button__hover__color: @button__color;
@button__hover__background: darken(@button__background, 10%);
@button__active__background: @color-gray-darken1;

//  Primary button
@button-primary__hover__color: @color-white;
@button-primary__background: @color__button-pink-normal;
@button-primary__border: 1px solid @button-primary__background;
@button-primary__active__background: @link__hover__color;
@button-primary__hover__background: darken(@button-primary__background, 10%);
@button-primary__active__border: 1px solid @button-primary__background;
@button-primary__hover__border: 1px solid @button-primary__background;
@button-primary__active__color: @color-white;

//  Button with icon
@button-icon__line-height: @icon-font__line-height;

