//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@color__button-green-normal: #0EAE9E;
@color__button-pink-normal: #FE4690;

@link__hover__color: #E21A91;